
<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
</head>
<body style="font-family:sans-serif; background:#f5f5f5;">

    <div style="width:400px; margin:50px auto; background:white; padding:20px; border-radius:10px;">
        
       <h2>Create Recipe</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="file" name="media" required><br><br>

    <textarea name="description" placeholder="Description"></textarea><br><br>

    <textarea name="ingredients" placeholder="Ingredients"></textarea><br><br>

    <select name="category">
        <option value="veg">Veg</option>
        <option value="nonveg">Non-Veg</option>
    </select><br><br>

    <button type="submit">Post</button>
</form>

    </div>

</body>
</html>