{% extends 'base.html' %}

{% block content %}

<!-- HERO -->
<!--<div class="hero">
    <h1>Discover Delicious Recipes 🍽️</h1>
    <p>Cook. Share. Enjoy amazing food recipes.</p>

    <a href="/login/" class="btn btn-main mt-3 px-4 py-2">
        Get Started
    </a>
</div>
-->
<!-- FEATURES -->
 <!--
<div class="container mt-5">

    <div class="row text-center">

        <div class="col-md-4">
            <h4>🍲 Explore Recipes</h4>
            <p>Browse veg & non-veg recipes from users.</p>
        </div>

        <div class="col-md-4">
            <h4>📸 Share Food</h4>
            <p>Upload your own delicious recipes.</p>
        </div>

        <div class="col-md-4">
            <h4>🔍 Smart Search</h4>
            <p>Find recipes instantly with filters.</p>
        </div>

    </div>

</div>
-->
{% endblock %}